$color-primary-light: #cb9cec; //#b589d6
$color-primary: #b562ce; //#9969c7;
$color-primary-dark: #804fb3;

$color-secondary-dark: #3c849c;
$color-secondary-light: #75b4c9;
$color-secondary: #50a0bb;

$color-tertiary-dark: #9d7245;
$color-tertiary-light: #c8a580;
$color-tertiary: #b88c5d;

$color-white: white;
$color-dark-grey: #777;
$color-dark-grey-2: #999;
$color-dark-grey-3: #333;

$color-black: black;

$max-width: 114rem;
$max-width-small: 135rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;

$color-grey-light-1: #f7f7f7;

$default-font-size: 1.6rem;
