.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 0.3rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;

    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: white;
    color: $color-dark-grey;

    &::after {
      background-color: white;
    }
  }

  &--lilac {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    z-index: -1;
    transition: all 0.4s;
  }
}

.btn-text {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-primary;
    font-size: $default-font-size;
    display: inline-block;
    border-bottom: 1px solid $color-primary;
    transition: all 0.2s;
  }
  &--1 {
    &:link,
    &:visited {
      position: absolute;
      top: 40rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }
  &--1:hover {
    transform: translateX(-50%);
  }

  &:active {
    box-shadow: 0 1 rem 2rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

.btn {
  &__slider {
    display: inline-block;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.4rem;
    border-radius: 1.5rem;
    background-color: $color-white;
    cursor: pointer;
    transition: all 0.5s;
  }
}

.btn {
  &__active {
    width: 4.5rem;
  }
}

.btn-text-1 {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
    translate: all 0.5s ease-in;
  }

  &:active {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
